/* tema 1 y 2*/
.contenedor{
    display: grid;
    grid-template-columns: 20% 80%;
}
section{
    background-color: burlywood;
}
aside{
    background-color: gray ; color: black;
    
}
h2{
    color:white;
}