/* pagina principal*/
header{
    background-color:burlywood;
    padding: 10px;
}
nav{
    background-color: burlywood;
}
.contenedor{
    display: grid;
    grid-template-columns: 20% 80%;
}
section{ 
    background-color: burlywood;
}
aside{
    background-color: darkgrey;
    padding: 10px;
}
footer{
    background-color: burlywood;
}
/* autor */
section{
    background-color: burlywood;
    padding: 10px;
}
br{
    background-color: burlywood;
}
center{
    background-color: burlywood;
    padding: 10px;
}
nav{
    background-color: burlywood;
    padding: 10px;
}
/*Recurso digital1*/
section{
    background-color: burlywood;
}
/*Recurso digital 2*/
section{
    background-color: burlywood;
}


