/* pagina principal*/
header{
    background-color:burlywood;
    padding: 10px;
}
nav{
    background-color: burlywood;
}
.contenedor{
    display: grid;
    grid-template-columns: 45% 55%;
}
section{ 
    background-color: burlywood;
    padding: 10px;
}
aside{
    background-color: darkgrey;
    padding: 10px;
}
footer{
    background-color: burlywood;
    padding: 10px;
}
nav{
    background-color: burlywood;
    padding: 10px;
}




