/* tema 1 y 2*/
.contenedor{
    display: grid;
    grid-template-columns: 20% 80%;
}
section{
    background-color: burlywood ;
    padding: 20px;
}
aside{
    background-color: darkkhaki; 
    padding: 20px;
    
}
